﻿body {
    background-color: #3c4245;
    color: white;
}
.add-journal {
    margin-bottom: 100px;
    margin-top: 40px;
}

.journal_section {
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    box-shadow: 2px 3px 13px 1.5px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 10px;
    max-width: 70%;
    background-color: #5f6769;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    text-align: left;
    margin-bottom: 30px;
    word-wrap: break-word;
}

.btn-journal {
    width: 50%;
}

.btn-info, btn-success {
    background-color: #719192;
    font-weight: bold;
}

.btn-danger {
    background-color: #dfcdc3;
    font-weight: bold;
}

.date {
    font-weight: bold;
    font-size: 14px;
}

